@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200;300;400;500;800&display=swap');
@import "assets/scss/login";
@import "assets/scss/header.scss";
@import "assets/scss/nav.scss";
@import "assets/scss/topHeaderInfo.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}