.page-title {
    border: 1px solid #f2f2f2;
    padding: 15px;
    margin-bottom: 30px;
    color: #222;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
  }