.page-title{
    border: 1px solid #f2f2f2;
    padding: 15px;
    h1{
        font-size: 20px;
    }
}
.form-wrapper{
    display: flex;
    justify-content: center;
}
.login-form{
    padding: 30px;
    border: 1px solid #f2f2f2;
}